.RandomPhotoPet{
    height: 350px;
    position: relative;
}
.LogoRandomPhoto {
    font: var(--font-large-main);
    position: absolute;
    left: 20px;
    top: 30px;
}

.FirstPaw{
    transform: rotate(-60deg);
    width: 90px;
    height: 90px;
    position: absolute;
    left: 45px ;
    top: 15px;
}
.SecondPaw{
    width: 147px;
    height: 156px;
    transform: rotate(-50deg);
    position: absolute;
    top: 200px;
    left: 100px;

}
.MiniBone{
    width: 59px;
    height: 59px;
    transform: rotate(70deg);
    position: absolute;
    top: 32px;
    right: 100px;


}
.PhotoSlider{
    border-style: solid;
    border: var(--app-primary-20);
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    height: 220px;
}

@media screen and (max-width: 992px) {
    .RandomPhotoPet{
    min-height: 493px;
    max-height: 531px;
    width: 320px;
    max-width: 320px;
    border-radius: 8px;
    position: relative;
    text-align: center;
    padding: 29px 0 ;
}
.LogoRandomPhoto {
    font: var(--font-extra-large-main-mobile);
    //position: absolute;
    left: 130px;
    top: 60px;
    color: var(--app-main-text);

}

.FirstPaw{
    transform: rotate(-60deg);
    width: 115px;
    height: 115px;
    position: absolute;
    left: 110px ;
    top: 30px;
}
.SecondPaw{
    display: none;

}
.MiniBone{
    display: none;


}
.PhotoSlider{
    border-style: solid;
    border: var(--app-primary-20);
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    height: 220px;
}

}
