.PetPage{
    margin-left: 270px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    padding-right: 330px;
}
.None{
    display:none;
}
.CardPage{
    width: 255px;
    height: 295px;
    margin: 20px 10px 10px 10px;
    background: var(--app-accent);
    border-radius: 5px;
}
.WrapperCards{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.HeaderCardPet{
    display: flex;
    width: 90%;
    font: var(--font-small-main);
    margin: 10px 20px;
    color: rgba(18, 18, 18, 0.7);
}
.PhotoPet{
    width: 215px;
    height: 150px;
    border-radius: 5px;
    //margin: 20px 20px;
}
.ContainerPhoto{
    width: 215px;
    height: 150px;
    border-radius: 5px;
    margin: 20px 20px;
    display: flex;
    position: relative;


}
.HeaderDate{
    font: var(--font-hashtag-date-reception);
    color: var(--app-background);
    text-decoration: underline;
    position: absolute;
    bottom: 2px;
}
.Views{
    display: flex;
    margin-left: 37px;
}
.NumberViews{
    margin: 10px 0 10px 10px;
}
.Button{
    height: 35px;

}
.BottomCard{
    display: flex;
    margin: 10px;
    width: 90%;
}
@media screen and (max-width: 1420px) {
.PetPage {
    width: 100%;
    max-width: 100%;
    margin-left:auto;
    margin-top: 100px;
    overflow-y: auto;
}}
@media screen and (max-width: 1140px) {
    .PetPage{
        padding: 0;
    }
}
@media screen and (max-width: 825px) {
    .WrapperCards{
        grid-template-columns: repeat(1, 1fr);
    }
}
