.PetPage{
    margin-left: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
}
.None{
    display:none;
}
.CardPage{
    width: 349px;
    height: 404px;
    margin: 20px;
    background: var(--app-accent);
    border-radius: 5px;
}
.HeaderCardPet{
    display: flex;
    width: 90%;
    font: var(--font-small-main);
    margin: 10px 20px;
    color: rgba(18, 18, 18, 0.7);
}
.PhotoPet{
    width: 309px;
    height: 222px;
    border-radius: 5px;
    //margin: 20px 20px;
}
.ContainerPhoto{
    width: 309px;
    height: 222px;
    border-radius: 5px;
    margin: 20px 20px;
    display: flex;


}
.HeaderDate{
    font: var(--font-medium-main);
    color: var(--app-background);
    text-decoration: underline;
    margin: -50px 20px;
}
.Views{
    display: flex;
    margin-left: 90px;
}
.Button{
    width: 349px;
}
.BottomCard{
    display: flex;
    margin: 20px 20px;
    width: 90%;
}
@media screen and (max-width: 1420px) {
.PetPage {
    width: 100%;
    max-width: 100%;
    margin-left:auto;
    margin-top: 100px;
    overflow-y: auto;
}}
