.ContentWrapper{
    background: var(--app-accent);
    border-radius: 8px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 1040px;
    //position: relative;
    //max-width: 1200px;
    //min-width: 1050px;
}

@media screen and (max-width: 1440px) {
.ContentWrapper{
    background: var(--app-accent);
    width: 100%;
    border-radius: 8px;
    //margin-left: 0px;
    //margin-top: 20px;
    //margin-bottom: 20px;
    margin: 20px auto;
}}