.ContentWrapper{
    //background: transparent;
    border: 3px solid var(--app-primary-100);
    //border-color: var(--app-accent);
    //background: var(--app-accent);
    border-radius: 8px;
    margin-left: 25px;
    margin-top: 50px;
    margin-bottom: 25px;

}