.NewsPage{
    margin-left: 260px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;

}
.CardNews{
    height: 672px;
    margin: 20px;
    background: var(--app-accent);
    border-radius: 5px;
}
.HeaderNews{
    font: var(--font-small-main);
    margin: 10px 20px;
    color: rgba(18, 18, 18, 0.7);
}
.PhotoNews{
    width: 97%;
    height: 467px;
    border-radius: 5px;
    //margin: 20px 20px;
}
.ContainerPhoto{
    width: 97%;
    height: 467px;
    border-radius: 5px;
    margin: 20px 20px;


}
.HeaderPhoto{
    font: var(--font-medium-main);
    color: var(--app-background);
    text-decoration: underline;
    margin: -50px 20px;
}
.Views{
    display: flex;
    position: absolute;
    right: 0;
}
.Calendar{
    margin: 10px 30px 0 10px;
}
.Button{
    width: 349px;
}
.BottomNews{
    display: flex;
    position: relative;
    margin: 20px 20px;
}



@media screen and (max-width: 1420px) {
.NewsPage {
    width: 100%;
    max-width: 100%;
    margin-left:auto;
    margin-top: 100px;
    overflow-y: auto;
    padding: 0 20px;
}
    .CardNews{
    max-width: 950px;
    height: 672px;
    margin: 20px auto;
    background: var(--app-accent);
    border-radius: 5px;
}

}
@media screen and (max-width: 576px) {
    .BottomNews{
    display: flex;
    position: relative;
    margin: 20px 20px;
}
.Views{
    display: flex;
    position: absolute;
    right: 0;
}


}