.Button {
  width: 120px;
  height: 50px;
  background: #13603f;
  border-radius: 6px;
}

.btn-enable {
  background: #13603f;
  color: #eeedee;
}

.btn-disable {
  background: #eeedee;
  color: #13603f;
}

