.Button {
    width: 128px;
    height: 49px;
    border-radius: 6px;
    background: var(--app-primary-100);
    color: var(--app-background);
}

.outline {
    background: var(--app-accent);
    color: var(--app-secondary-text);
}