.Donations{
    height: 524px;
    position: relative;
    padding: 1px 0 1px 0;
}
.Paw{
    transform: rotate(-60deg);
    width: 90px;
    height: 90px;
    position: absolute;
    left: 45px ;
    top: 15px;
}
.LogoDonations{
    font: var(--font-large-main);
    position: absolute;
    left: 20px;
    top: 30px;
}
.MiniBone{
    width: 55px;
    height: 55px;
    position: absolute;
    right: 455px;
    top: 82px;
}
.SecondPaw{
    position: absolute;
    right: 370px;
    bottom: 50px;
    width: 100px;
    height: 100px;
}
.Dog{
    width: calc(554px/1.2);
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
.Visa{
    position: absolute;
    left: 20px;
    bottom:30px;
    width: calc(405px/1.1);
    height: calc(249px/1.1);
}
.BackVisa{
    position: absolute;
    left: 368px;
    bottom:35px;
    width: calc(198px/1.1);
    height: calc(238px/1.1);
}
.BackVisaMobile{
    display: none;
}
.FirstParagraph{
    color: var(--app-secondary-text);
    font: var(--font-small-main);
    position: absolute;
    left: 20px;
    top: 110px;
}
.SecondParagraph{
    font: var(--font-medium-main);
    position: absolute;
    left: 20px;
    top: 150px;
}
.ButtonSumm{
    gap: 10px;
    flex-grow: 1;
    padding: 12px 24px;
}
.NumberCard{
    //position: absolute;
    //bottom: 110px;
    //left: 37px;
    //width: 310px;
    //height: 40px;
    display: none;

}
.MonthCard{
    //position: absolute;
    //bottom: 40px;
    //left: 94px;
    //width: 65px;
    //height: 40px;
    display: none;

}
.YearCard{
    //position: absolute;
    //bottom: 40px;
    //left: 37px;
    //width: 53px;
    //height: 40px;
    display: none;

}
.CvcCard{
    //position: absolute;
    //bottom: 100px;
    //left: 400px;
    //width: 63px;
    //height: 40px;
    display: none;

}
.buttonGroup {
    margin: 210px 20px 0;
    display: flex;
    flex-wrap: wrap;
    width: 590px;
    gap: 10px;}
.BlockVisa{
    position: relative;
    margin: 270px auto;
}


@media screen and (max-width: 1110px){
.Donations{
    min-height: 1208px;
    max-height: 1208px;
    width: 100%;
    border-radius: 8px;
    position: relative;
    text-align: center;
    padding: 29px 0;
}
.Paw{
    transform: rotate(-60deg);
    width: 105px;
    height: 105px;
    position: initial;
}
.LogoDonations{
    font: var(--font-extra-large-main-mobile);
    margin: -65px auto 0;
    color: var(--app-main-text);
    position: initial;
}
.MiniBone{
    display: none;
}
.SecondPaw{
    display: none;
}
.Dog{
    width: calc(320px*1.1);
    height: calc(344px*1.1);
    position: absolute;
    top: auto;
    bottom: 0;
    right: 0;
}
.Visa{
    position: absolute;
    bottom: 70px;
    left: 36px;
    width: 290px;
    height: 194px;
}
.BackVisa{
    display: none;
}
.BackVisaMobile{
    display: initial;
    width: 282px;
    height:79px;
}
.FirstParagraph{
    color: var(--app-secondary-text);
    font: var(--font-small-main-mobile);
    position: relative;
    left:auto;
    top: auto;
    margin: 12px auto;
}
.SecondParagraph{
    font: var(--font-medium-main);
    position: relative;
    left:auto;
    top: auto;
    margin: 24px auto;
}
.ButtonSumm{
    gap: 10px;
    flex-grow: 1;
    padding: 12px 24px;
}
.ButtonDonat{
    margin: 290px auto 0;
    flex-grow: 1;
    gap: 10px;
}

.buttonGroup {
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    width: 185px;
    gap: 20px;
}

.NumberCard{
    position: absolute;
    bottom: 142px;
    left: 49px;
    width: 240px;
    height: 27px;
}
.MonthCard{
    position: absolute;
    bottom: 81px;
    left: 48px;
    width: 28px;
    height: 29px;
}
.YearCard{
    position: absolute;
    bottom: 81px;
    left: 98px;
    width: 23.125px;
    height: 29px;
}
.CvcCard{
    position: absolute;
    bottom: 0;
    left: 45px;
    width: calc(63px/1.3);
    height: calc(40px/1.3);

}
.BlockVisa{
    position: relative;
    margin: -180px auto;
    width: 360px;
}
}