.Input{
    //width: 156px;
    //height: 45px;
    //margin: 10px;
    //padding: 12px 24px;
    padding: 12px 0;
    font: var(--font-button) ;
    text-align: center;
    border-radius: 8px;
    background: var(--app-background);

}