.AboutUs{
    height: 350px;
    position: relative;
    padding-top: 80px;

}
.FirstPaw{
    transform: rotate(-60deg);
    width: 90px;
    height: 90px;
    //position: absolute;
    //left: 45px ;
    //top: 15px;


}
.LogoAbout{
    font: var(--font-large-main);
    //position: absolute;
    //left: 20px;
    //top: 30px;

}
.DogCat{
    width: calc(587px/1.5);
    height: calc(356px/1.5);
    position: absolute;
    left: 20px;
    bottom: 20px;

}
.Quotes{
    color: var(--app-primary-100);
    font: var(--font-small-main);
    font-weight: 800;
    font-size: 1.2rem;
}
.FirstParagraph{

    margin-left: 450px;
    margin-right: 20px;
    font: var(--font-small-main);
    color: var(--app-secondary-text);

}
.SecondParagraph{
    margin-top: 30px;
    margin-left: 450px;
    margin-right: 20px;
    font: var(--font-small-main);
    color: var(--app-secondary-text);

}
.ThirdParagraph{
    margin-top: 30px;
    margin-left: 450px;
    margin-right: 20px;
    font: var(--font-small-main);
    color: var(--app-secondary-text);

}
.BigBone{
    width: 80px;
    height: 80px;
    position: absolute;
    right: 10px;
    top: 20px;


}
.MiniBone{
    width: 25px;
    height: 25px;
    transform: rotate(70deg);
    position: absolute;
    right: 15px;
    top: 32px;


}
.SecondPaw{
    position: absolute;
    right: 20px;
    bottom: 50px;
    width: 80px;
    height: 80px;

}
//@media screen and (max-width: 992px){
//    .AboutUs{
//    height: calc(350px - 40%);
//    position: relative;
//    padding-top: 80px;
//    padding-bottom: 40px;
//
//}}

@media screen and (max-width: 992px) {
    .AboutUs{
    min-height: 810px;
    max-height: 810px;
    width: 100%;
    border-radius: 8px;
    position: relative;
    text-align: center;
    padding: 29px 0 ;
    align-items: center;


}
.FirstPaw{
    transform: rotate(-60deg);
    //width: 90px;
    //height: 90px;
    //position: absolute;
    //left: 45px ;
    //top: 15px;
    //left: 128px;
    width: 100px;
    height: 100px;
    //position: absolute;
    align-items: center;


}
.LogoAbout{
    font: var(--font-extra-large-main-mobile);
    color: var(--app-main-text);
    //position: absolute;
    //left: 20px;
    margin: -70px auto 0;
    //top: 30px;

}
.DogCat{
    width: 292px;
    height: 192px;
    margin: 0 auto;
    //position: absolute;
    //align-items: center;
    //left: 20px;
    //bottom: 0px;

}
.Quotes{
    color: var(--app-primary-100);
    font: var(--font-extra-large-main-mobile);
}
.FirstParagraph{

    margin: 75px 16px 16px;
    //margin-right: 10px;
    font: var(--font-small-main);
    color: var(--app-secondary-text);

}
.SecondParagraph{
    margin: 30px 16px 16px;
    font: var(--font-small-main);
    color: var(--app-secondary-text);

}
.ThirdParagraph{
    margin: 30px 16px 16px;
    font: var(--font-small-main);
    color: var(--app-secondary-text);

}
.BigBone{
    width: 120px;
    height: 120px;
    position: absolute;
    left: 7px;
    top: 162px;

}
.MiniBone{
    width: 30px;
    height: 30px;
    transform: rotate(70deg);
    position: absolute;
    left: 82px;
    top: 191px;


}
.SecondPaw{
    position: absolute;
    right: 20px;
    bottom: 181px;
    width: 120px;
    height: 120px;

}

}