.Navbar {
    background: var(--app-accent);
    border-radius: 0.44rem;
    padding: 50px 20px 30px;
    width: 220px;
    margin: 20px 0 0 0;
}

.Hidden {
    display: none;
}


.FilterHidden {
}

.FilterOpen {
    height: 100vh;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    background: var(--app-accent);
}

.FilterOpenNavbar {
    position: sticky !important;
    margin: 30px auto !important;

}

.FilterNewsOpenNavbar {
    margin: 20px auto !important;
}

@keyframes rotate {
    from {
        transform: rotate(90deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.Cross {
    animation: rotate 2s forwards;
    position: absolute;
    right: 40px;
    top: 40px;
}

.Menu {
    display: none;
}

.Filter {
    display: none;
}

.NavbarWrapper {
    position: fixed;
    overflow-y: hidden;
    max-height: calc(100% - 20px);
    border-radius: 0.84rem;
}

.NavbarWrapper:hover {
    overflow-y: auto;
    overflow-x: hidden;
}

.NavbarWrapper::-webkit-scrollbar {
    position: fixed;
    right: 10px;
    width: 4px;
}

.NavbarWrapper::-webkit-scrollbar-thumb {
    background-color: #d1d0d9;
    border-radius: 2px;
    height: 10px;
}

.PawLogo {
    position: absolute;
    top: -50px;
    width: 140.8px;
    height: 140.8px;
    transform: rotate(2deg);
}

.LogoText {
    margin-bottom: 70px;
    font: var(--font-small-logo);
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

.PawLogoOpenNavBar {
}

.LogoTextOpenNavBar {
}

.ContactText {
    font-family: CeraPro-Regular, serif;
}

.ButtonLink {
    position: relative;
    flex: 1 1 auto;
    width: 100%;
    white-space: nowrap;
    text-align: center;
}

.ContainerButton {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    width: 130px;
    margin: 0 auto;
}

.FirstHr {
    margin-bottom: 40px;
}

.SecondHr {
    margin: 40px 0 20px 0;
}

p {
    font-family: CeraPro-Regular, serif;
    font-size: 1.25rem;
    margin: 10px;
}

.ContactInfo {
    font-family: var(--font-family-main);
    font-size: 1.25rem;
    margin: 5px;

}

.IconNumber {
    margin: 0 5px -3px 0px;
}

.IconAddress {
    margin: 0 5px -7px 10px;
}

.GreenTimeContact {
    color: var(--app-primary-100);
    margin-left: 5px;
}

.EveryDay {
    font-family: var(--font-family-main-bold);
    font-size: 1.25rem;
    color: var(--app-primary-100);
    margin: 10px 0 10px 0;
}

.BottomContact {
    font: var(--font-small-main);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.PawButton {
    position: absolute;
    left: -15px;
    top: -15px;
    animation: bounce alternate-reverse 0.5s 9;
}

@keyframes bounce {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10px);
    }
}

@media screen and (max-width: 1420px) {
    @keyframes slideDown {
        0% {
            height: 90px;
            margin: 0;
        }
        50% {
            margin: 20px 0 0 0;
        }
        100% {
            margin: 20px;
        }
    }

    @keyframes slideUp {
        0% {
            height: 89vh;
            margin: 20px;
        }
        50% {
            height: 80px;
            margin: 20px 0 0 0;
        }
        100% {
            height: 70px;
            margin: 0;
        }
    }
    .Navbar {
        background: var(--app-accent);
        border-radius: 10px;
        width: auto;
        //box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        display: block;

        &.closeNav {
            animation-name: slideUp;
            animation-duration: 1s;
            animation-delay: 0.4s;
            animation-timing-function: ease;
            animation-fill-mode: both;

            padding: 30px 0 0 0;

        }

        &.openNav {
            animation-name: slideDown;
            animation-duration: 1s;
            animation-timing-function: ease;
            animation-fill-mode: both;
            padding: 20px;
            height: 89dvh;
        }
    }
    .FilterHidden {
        display: none;
    }
    @keyframes closeMenuAnimation {
        from {
            margin: -5px 0 0 0;
        }
        to {
            margin: 3px 0 0 0;
        }
    }
    @keyframes openMenuAnimation {
        from {
            margin: 3px 0 0 0;
        }
        to {
            margin: -5px 0 0 0;
        }
    }
    @keyframes rotateDetailsMenuOpen {
        from {
            rotate: 0;
        }
        to {
            margin: -2px;
            rotate: 90deg;
        }
    }
    @keyframes rotateDetailsMenuClose {
        0% {
            rotate: 90deg;
            margin: -5px 0 0 0;
        }
        25% {
            margin: -5px 0 0 0;
            rotate: 0deg;
        }
        50% {
            margin: 3px 0 0 0;
        }
        100% {
            margin: 3px 0 0 0;
        }
    }


    .DetailMenu {
        width: 35px;

        &.closeMenu {
            animation-name: closeMenuAnimation;
            animation-duration: 0.5s;
            animation-timing-function: ease;
            animation-fill-mode: both;
            animation-delay: 1s;
        }

        &.rotateRight {
            animation-name: rotateDetailsMenuClose;
            animation-duration: 1s;
            animation-delay: 0.7s;
            animation-timing-function: ease;
            animation-fill-mode: both;
        }

        &.openMenu {
            animation-name: openMenuAnimation;
            animation-duration: 0.5s;
            animation-timing-function: ease;
            animation-fill-mode: both;
        }

        &.rotateLeft {
            animation-name: rotateDetailsMenuOpen;
            animation-duration: 0.5s;
            animation-delay: 0.5s;
            animation-timing-function: ease;
            animation-fill-mode: both;
        }
    }
    .Menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 10px;
        width: 35px;
        cursor: pointer;
        justify-content: center;
        align-items: center;
    }
    .Filter {
        display: initial;
        position: absolute;
        left: 10px;
        width: 35px;
        cursor: pointer;
    }
    @keyframes slideUpWrapper {
        0% {
            height: 200px;

        }
        100% {
            height: 100vh;

        }
    }

    .NavbarWrapper {
        background: var(--app-background);
        position: fixed;
        overflow-y: hidden;
        max-height: none;
        width: 100%;
        z-index: 100;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

        &.openWrapper {
            animation-name: slideUpWrapper;
            animation-duration: 1s;
            animation-timing-function: ease;
            animation-fill-mode: both;
            border-radius: 0;


        }

    }

    //.NavbarWrapperOpen {
    //    width: 100%;
    //    background: var(--app-background);
    //    position: fixed;
    //    overflow-y: hidden;
    //    z-index: 100;
    //    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    //
    //}
    .NavbarWrapper:hover {
        overflow-y: initial;
        overflow-x: initial;
    }
    .NavbarWrapper::-webkit-scrollbar {
        display: none;
    }
    .NavbarWrapper::-webkit-scrollbar-thumb {
        background-color: #d1d0d9;
        border-radius: 2px;
        height: 10px;
    }
    @keyframes openPawLogoAnimation {
        from {
            width: 77px;
            top: -20px;
        }
        to {
            width: 125px;
            top: 45px;
        }
    }
    @keyframes closePawLogoAnimation {
        from {
            width: 125px;
        }
        to {
            width: 77px;
        }
    }
    .PawLogo {
        position: absolute;
        transform: rotate(2deg);

        &.openPawLogo {

            animation-name: openPawLogoAnimation;
            animation-duration: 1s;
            animation-timing-function: ease;
            animation-fill-mode: both;
        }

        &.closePawLogo {
            top: -50px;
            animation-name: closePawLogoAnimation;
            animation-duration: 1s;
            animation-timing-function: ease;
            animation-fill-mode: both;

        }
    }
    @keyframes openLogoTextAnimation {
        from {
            margin: 7px 0 0 0;
        }
        to {
            margin: 60px auto 0;
            font-size: 40px;
        }
    }
    @keyframes closeLogoTextAnimation {
        from {
            margin: 60px auto 0;
            font-size: 40px;
        }
        to {
            margin: 0;
        }
    }
    .LogoText {
        margin: 0 0 5px 0;
        font: var(--font-small-logo);
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        z-index: 10;

        &.openLogoText {
            position: static;
            animation-name: openLogoTextAnimation;
            animation-duration: 1s;
            animation-timing-function: ease;
            animation-fill-mode: both;
        }

        &.closeLogoText {
            width: 100%;
            animation-name: closeLogoTextAnimation;
            animation-duration: 1s;
            animation-timing-function: ease;
            animation-fill-mode: both;

        }
    }
    //.PawLogoOpenNavBar {
    //    position: absolute;
    //    top: 60px;
    //    width: 125px;
    //    transform: rotate(2deg);
    //}
    //.LogoTextOpenNavBar {
    //    margin: 60px auto 0;
    //    font: var(--font-small-logo);
    //    font-size: 40px;
    //    display: flex;
    //    width: 200px;
    //    flex-direction: column;
    //    align-items: center;
    //}

    .ContactText {
        font-family: CeraPro-Regular, serif;
    }

    .ButtonLink {
        position: relative;
        flex: 1 1 auto;
        white-space: nowrap;
        text-align: center;
        width: 130px;
        margin: 15px 0 0 0;

    }
    @keyframes openButtonAnimation {
        from {
            height: 0;
            margin: 0 auto;

        }
        to {
            height: 200px;
            margin: 25px auto;
        }
    }
    @keyframes closeButtonAnimation {
        from {
            height: 200px;
            margin: 25px auto;
        }
        to {
            height: 0;
            margin: 0 auto;
        }
    }

    .ContainerButton {
        display: flex;
        //gap: 2rem;
        flex-direction: column;
        width: 160px;
        overflow: hidden;
        align-items: center;

        &.openButton {
            animation-name: openButtonAnimation;
            animation-duration: 0.9s;
            animation-timing-function: ease;
            //animation-delay: 1s;
            animation-fill-mode: both;
        }

        &.closeButton {
            animation-name: closeButtonAnimation;
            animation-duration: 0.9s;
            animation-timing-function: ease;
            //animation-delay: 1s;
            animation-fill-mode: both;
        }

    }
    .FirstHr {
        margin: 40px 15% 0 15%;
    }
    @keyframes openSecondHr {
        from {
            margin: -2px 15% 0 15%;
        }
        to {
            margin: 25px 15% 0 15%;
        }
    }
    @keyframes closeSecondHr {
        from {
            margin: 25px 15% 0 15%;
        }
        to {
            margin: -2px 15% 0 15%;
        }
    }
    .SecondHr {
        &.openSecondHr {
            animation-name: openSecondHr;
            animation-duration: 0.9s;
            animation-timing-function: ease;
            animation-delay: 1s;
            animation-fill-mode: both;
        }

        &.closeSecondHr {
            animation-name: closeSecondHr;
            animation-duration: 0.9s;
            animation-timing-function: ease;
            animation-delay: 1s;
            animation-fill-mode: both;
        }

    }
    p {
        font-family: CeraPro-Regular, serif;
        font-size: 1.25rem;
        margin: 10px;
    }
    @keyframes openBottomContact {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    .BottomContact {
        margin-top: 20px;
        gap: 10px;
        animation-name: openBottomContact;
        animation-duration: 1s;
        animation-timing-function: ease;
        animation-fill-mode: both;
    }
    .PawButton {
        position: absolute;
        left: -15px;
        top: -15px;
        animation: bounce alternate-reverse 0.5s 9;
    }
}
