.Navbar {
    background: var(--app-accent);
    border-radius: 0.44rem;
    padding: 110px 20px 30px;
    width: 250px;
    min-width: 250px ;
    max-width: 250px ;
}
.Hidden{
}
.Menu{
    display: none;
}
.Filter{
    display: none;
}
.NavbarWrapper{
    position: fixed;
    overflow-y: hidden;
    max-height: calc(100% - 20px);
    border-radius: 0.84rem;
    height: 100vh;
}
.NavbarWrapper:hover{
    overflow-y: auto;
    overflow-x: hidden;
}
.NavbarWrapper::-webkit-scrollbar {
    position: fixed;
    right: 10px;
    width: 4px;
}
.NavbarWrapper::-webkit-scrollbar-thumb {
    background-color: #d1d0d9;
    border-radius: 2px;
    height: 10px;
}
.PawLogo{
    position: absolute;
    top: -50px;
    width: 140.8px;
    height: 140.8px;
    transform: rotate(2deg);
}
.LogoText {
    margin-bottom: 90px;
    font: var(--font-small-logo);
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}
.ContactText{
    font-family: CeraPro-Regular, serif;
}
.ButtonLink{
    position: relative;
    flex: 1 1 auto;
    width: 100%;
    white-space: nowrap;
    text-align: center;
}
.ContainerButton{
    display: flex;
    gap: 2rem;
    flex-direction: column;
}
.FirstHr{
    margin-bottom: 40px;
}
.SecondHr{
    margin: 40px 0;
}
p {
    font-family: CeraPro-Regular, serif;
    font-size: 1.25rem;
    margin: 10px;
}
.EveryDay{
    font: var(--font-small-main);
    font-weight: 900;
    color: var(--app-primary-100);
}
.BottomContact{
    font: var(--font-small-main);
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.PawButton{
    position: absolute;
    left: -15px;
    top: -15px;
    animation: bounce   alternate-reverse 0.5s 9;
}
@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}
@media screen and (max-width: 1110px) {
.Navbar {
    background: var(--app-accent);
    border-radius: 0.44rem;
    padding:95px 0 0 0;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    //height: 738px;
}
.Hidden{
    display: none;
}

.Menu{
    display: initial;
    position: absolute;
    right: 10px;
    width: 35px;
    cursor: pointer;
}
.Filter{
    display: initial;
    position: absolute;
    top: 25px;
    left: 10px;
    width: 24px;
}
.NavbarWrapper{
    position: fixed;
    overflow-y: hidden;
    max-height: calc(100% - 20px);
    border-radius: 0.84rem;
    height: auto;
    width: 100%;
    z-index: 1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.NavbarWrapper:hover{
    overflow-y: auto;
    overflow-x: hidden;
}
.NavbarWrapper::-webkit-scrollbar {
    position: fixed;
    right: 10px;
    width: 4px;
}
.NavbarWrapper::-webkit-scrollbar-thumb {
    background-color: #d1d0d9;
    border-radius: 2px;
    height: 10px;
}
.PawLogo{
    position: absolute;
    top: -50px;
    width: 77px;
    transform: rotate(2deg);
}
.LogoText {
    margin-bottom: 90px;
    font: var(--font-small-logo);
    display: flex;
    position: absolute;
    width: 100%;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    top: 30px;
}
.ContactText{
    font-family: CeraPro-Regular, serif;
}
.ButtonLink{
    position: relative;
    flex: 1 1 auto;
    width: 100%;
    white-space: nowrap;
    text-align: center;
}
.ContainerButton{
    display: flex;
    gap: 2rem;
    flex-direction: column;
    width: 250px;
    margin: 40px auto;
}
.FirstHr{
    margin-bottom: 40px;
}
.SecondHr{
    margin: 25px 0;
}
p {
    font-family: CeraPro-Regular, serif;
    font-size: 1.25rem;
    margin: 10px;
}
.EveryDay{
    font: var(--font-small-main);
    font-weight: 900;
    color: var(--app-primary-100);
}
.BottomContact{
    font: var(--font-small-main);
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.PawButton{
    position: absolute;
    left: -15px;
    top: -15px;
    animation: bounce   alternate-reverse 0.5s 9;
}
}
