.RecordVisit{
    height: calc(494px/1.9);
    position: relative;
    padding: 1px 330px 0 20px
}
.Paw{
    transform: rotate(-60deg);
    width: 90px;
    height: 90px;
    position: absolute;
    left: 45px ;
    top: 15px;
}
.LogoRecord{
    font: var(--font-large-main);
    position: absolute;
    left: 20px;
    top: 30px;
}
.Instruction{
    font: var(--font-small-main);
    color: var(--app-secondary-text);
    margin: 115px 10px 0;
}
.Dog{
    width: 335px;
    position: absolute;
    right: 10px;
    bottom: 0;

}
.BigBone{
    transform: rotate(50deg);
    position: absolute;
    width: 260px;
    right: 125px;
    top: 10px;
}
.MiniBone{
    width: 55px;
    height: 55px;
    position: absolute;
    right: 290px;
    top: 105px;
}
.buttonInputGroup {
    margin: 30px 10px 0 ;
    display: flex;
    flex-wrap: wrap;
    max-width: 725px;
    gap: 20px;
}
.InputRecord{

    flex-grow: 1;
    align-items: flex-start;
    margin: 0;
    gap: 10px;
    border-radius: 8px;
    max-width: 160px;

}
.ButtonRecord{
    margin: 0 auto;
}

@media screen and (max-width: 1110px) {
    .RecordVisit{
    min-height: 721px;
    max-height: 721px;
    width: 100%;
    border-radius: 8px;
    position: relative;
    text-align: center;
    padding: 29px 0 ;
}
.Paw{
    transform: rotate(-60deg);
    width: 150px;
    height: 150px;
    position: initial;
}
.LogoRecord{
    font: var(--font-extra-large-main-mobile);
    color: var(--app-main-text);
    position: initial;
    width: 290px;
    margin: -105px auto 0;
}
.Instruction{
    font: var(--font-small-main-mobile);
    color: var(--app-secondary-text);
    margin: 100px 20px 16px;
}
.Dog{
    width: calc(306px *1.1);
    height: calc(118px *1.1);
}
.BigBone{
    width: 200px;
    height: 200px;
    transform: rotate(50deg);
    right:160px;
    top:570px;
}
.MiniBone{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 290px;
    top: 620px;
}
.buttonInputGroup {
    margin: 0 auto;
    padding: 12px 24px;
    display: flex;
    flex-wrap: wrap;
    max-width: 285px;
    gap: 20px;
}

.InputRecord{
    flex-grow: 1;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    max-width: 100%;

}
.ButtonRecord{
    margin: 0 auto;
}
}


