.InputCheckbox{
    background:  #FFFFFF;
    width: 20px;
    //height: 20px;
    //border-radius: 30px;
    border: none !important;

;
}
.Checked{
    background-image: url("../../assets/icons/check.svg") !important;
    width: 20px;
    background-repeat: no-repeat;
    background-position:   center;


}