.FirstCorgi{
    //background-image:url("FirstCorgi.png") ;
    //background-size: 80vh;
    width: 77vh;
    height: 45vh;
    margin-top: 33vh;
    margin-left: 48vh;

}
.DogAndCat{
        background-image:url("src/shared/assets/images/DogAndCat.png") ;
}
.SecondCorgi{
        background-image:url("src/shared/assets/images/SecondCorgi.png") ;
}

.Mops{
        background-image:url("src/shared/assets/images/Mops.png") ;
}