.Home{
    height: 650px;
    border-radius: 8px;
    position: relative;
}

.BigBone{
    width: 147px;
    height: 147px;
    margin-left: 50px;
    margin-bottom: 30px;
    margin-top: 40px;
}
.MiniBone{
    width: 37px;
    height: 37px;
    transform: rotate(70deg);
    margin-bottom: 120px;
    margin-left: -50px;


}
.BigText{
    font-size: 3.8rem;
    margin-left: 40px;
    color: var(--app-main-text);
}
.SmallText{
    margin-left: 40px;
    color: var(--app-secondary-text);
}
.LefButton{
    margin-left: 40px;
}
.RightButton{
    margin-left: 40px;
}
.Dog{
    width: 649px;
    height: 361px;
    position: absolute;
    bottom: 0px;
    right: -25px;
}
.LogoText{
    font-family: Airfool,sans-serif;
    font-size: 4rem;
}
.Logo{
    width: 250px ;
    height: 250px;
    position: absolute;
    top: 140px;
    left: 800px;
}
