@import "reset";

.mt-4 {
    margin-top: 32px;
}

body {
    background-color: #f5f5f5;
}

:root {
    //--font-family-main: consolas, "Times New Roman", serif;
    //
    //// s
    //--font-size-s: 12px;
    //--font-line-s: 20px;
    //--font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);
    //
    //// m
    //--font-size-m: 16px;
    //--font-line-m: 24px;
    //--font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
    //
    //// l
    //--font-size-l: 24px;
    //--font-line-l: 32px;
    //--font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
    //
    //// xl
    //--font-size-xl: 32px;
    //--font-line-xl: 40px;
    //--font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);
    //
    //// Размеры
    //--navbar-height: 50px;
    //--sidebar-width: 300px;
    //--sidebar-width-collapsed: 80px;
    //
    //// z - Индексы
    //--modal-z-index: 1000;
    //--overlay-z-index: 100;

    // Цвета
    --app-background: rgba(255, 255, 255, 1);
    --app-accent: rgba(232, 231, 231, 1);
    --app-main-text: rgba(18, 18, 18, 1);
    --app-secondary-text: rgba(18, 18, 18, 0.7);
    --app-main-text-light: rgba(255, 255, 255, 1);
    --app-secondary-text-light: rgba(18, 18, 18, 0.9);
    --app-primary-100: rgba(44, 95, 66, 1);
    --app-primary-20: rgba(44, 95, 66, 0.2);
}

