.Filter{
    position: absolute;
    right: 20px;
    background: var(--app-accent);
    border-radius: 0.44rem;
    padding: 80px 20px 30px;
    width: 250px;
    min-width: 250px ;
    max-width: 250px ;
    margin-top: 20px;
}
.HeaderFilters{
    font: var(--font-small-main-mobile);
    color: #a2a2a2;
}
.CheckHeader{
    display: flex;
}
p{
    font: var(--font-small-main);
    color: #747474;
}
.TypeFilter{
    font: var(--font-small-main-filter);
    margin: 10px;
}
.Input{
    width: 100%;
    background-image: url("../../shared/assets/icons/glass.svg");
    background-repeat: no-repeat;
    background-position:  right 20px center;
}