.HideBlockFilter{

}
.HeaderFilters{
    font: var(--font-small-main-mobile);
    color: rgba(18, 18, 18, 0.7);
}
.CheckHeader{
    cursor: pointer;
    display: flex;
}
.openBlock{
    max-height: 300px;
    transition: max-height 1s;
    overflow: hidden;
}

.hideBlock{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
}